<div class="container-fluid">
  <div class="row">
    <!-- left side box -->
    <div class="col-xs-4">
      <h3><%= @user.name %></h3>
      <h5><%= @user.username %></h5>
      <h5><p><%= @user.bio %></p></h5>
      <h5>Joined on <%= @user.created_at.strftime("%B %Y") %></h5>

  <!-- people user is following -->
  <%= @user.relationships.count %> Following
  <br>
    <% @user.relationships.each do |relationship| %>
      <%= link_to relationship.friend.name, profile_path(relationship.friend) %>
      <br>
    <% end %>
    <br><br>

    <!-- followers -->
    <%= pluralize(@user.inverse_relationships.count, 'Follower') %>
    <br>
    <% @user.inverse_friends.each do |friend| %>
      <%= link_to friend.name, profile_path(friend) %>
      <br>
    <% end %>
  </div>


  <!-- right side box -->
    <div class="col-xs-7">
        <!-- all the users tweets -->
        <div class="panel panel-default">
          <% @user.tweets.each do |tweet| %>
            <div class="panel-body">
              <strong><%= tweet.user.username %></strong> <small>tweeted <%= time_ago_in_words(tweet.created_at) %> ago</small>
              <br><br>
              <%= tweet.message %>
            </div>
          <% end %>
        </div>

    </div>
  </div>


  <br><br>

<!-- follow and unfollow buttom -->
<% if current_user.id != @user.id %>
  <% if current_user.friends.include?(@user) %>  <!-- if you're already following, unfollow button -->
    <%= link_to "Unfollow", relationship_path(current_user.relationships.find_by_friend_id(@user)), method: :delete, class: 'btn btn-danger btn-sm' %>
  <% else %>  <!-- if you're not following, follow bottom -->
    <%= link_to "Follow", relationships_path(friend_id: @user.id), method: :post, class: 'btn btn-info btn-sm' %>
  <% end %>
<% end %>
<!-- follow and unfollow buttom -->
</div>